body {
    background-image: url('../img/bg.png');
    margin-top: 100px;
    direction: rtl;
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
    align-content: center;
}